<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <!-- 新 Bootstrap5 核心 CSS 文件 -->
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

        <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
        <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>

        <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
        <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
        <script src="/js/common.js"></script>
        <script src="/js/search.js"></script>

    </head>
    <body>
        <div class="container ">
            <div class="header row mb-5 mt-2 border">
                <div class="col-sm-6 col-md-5 col-lg-5 col-xl-5 border">
                    <button class="btn btn-dark w-50 h-100 index">BLOG</button>
                </div>
                <div class="present_page col-sm-6 col-md-2 col-lg-2 col-xl-2 border border fs-2 fw-bold
                                d-flex flex-row justify-content-center align-items-center">
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 border">
                    <form class="form-floating row border">
                        <input type="search" name="keyword" class="form-control col"
                               id="search_input" placeholder="博客标题/用户名/用户描述信息">
                        <label for="search_input">博客标题/用户名/用户描述信息</label>
                        <button type="button" class="btn btn-dark btn_search col-md-3 ms-3">搜索</button>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="lefter col-sm-2 col-md-2 col-lg-2 col-xl-2 border">
                    <button class="btn btn-dark mb-2 w-100 index">首&nbsp; &nbsp; &nbsp; &nbsp;页</button>
                    <button class="btn btn-dark mb-2 w-100 my_article">我的文章</button>
                    <button class="btn btn-dark mb-2 w-100 article_type">文章类型</button>
                    <button class="btn btn-dark mb-2 w-100 edit_article">编辑文章</button>
                </div>
                <div class="main col-sm-8 col-md-8 col-lg-8 col-xl-8 border">
                    <div class="user_list_search">
                        <div class=" fs-3 bg-secondary text-white text-center">匹配用户</div>
                        <div class="row user border mx-2 mb-2">
                            <div class="col-3 border">
                                <img src="" alt="555">
                            </div>
                            <div class="col-9 border">
                                <div class="">账 户：</div>
                                <div class="">性 别：</div>
                                <div class="">描述信息：</div>
                            </div>
                        </div>
                    </div>
                    <div class="article_list_search">
                        <div class=" fs-3 bg-secondary text-white text-center">匹配文章</div>
                    </div>
                </div>
                <div class="righter col-sm-2 col-md-2 col-lg-2 col-xl-2 border">
                    <button class="btn btn-dark mb-2 w-100 user_info">
                        <div>
                            <!--todo 图片格式设置-->
                            <img src="" alt="这是头像" class="rounded avatar" style="height: 100px;width: 100px">
                        </div>
                        <div class="account">用户名</div>
                    </button>
                    <button class="btn btn-dark mb-2 w-100 user_list">用户列表</button>
                    <button class="btn btn-dark mb-2 w-100 log_list">日志列表</button>
                    <button class="btn btn-dark mb-2 w-100 ">空空空空</button>
                </div>
            </div>

            <div class="footer">
                <hr>
                <div>2023/4 Designed By HDB</div>
            </div>
        </div>

    </body>
</html>